* {
  box-sizing: border-box;
}

body {
    padding-left: 20px;
}

button {
    height: 50px;
    width: 50px;
}

.display-input {
    border: 1px solid #ddd;
    width: 150px;
    background-color: #ddd;
}

.display-result {
    border: 1px solid dodgerblue;
    width: 150px;
    background-color: dodgerblue;
    height: 20px;
}